{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='js/reg-jq.js') }}"></script>
<form action="/login" method="post">
<div class="row top-buffer">
    <div class="form-group">
        <div class="col-xs-offset-2 col-md-offset-4 col-xs-8 col-md-3">
            <input id="input_phone" type="text" class="form-control " maxlength="11" name="phone-number" placeholder="请输入手机号码">
        </div>
    </div>
</div>
<div class="row top-buffer">
        <div class="form-group">
            <div class="col-xs-offset-2 col-md-offset-4 col-xs-8 col-md-3">
                <div class="input-group">
                    <input id="input_code" name="dynamic-code" type="text" class="form-control" maxlength="6"  placeholder="动态密码">
                    <span class="input-group-btn">
                        <button id="btn-send" name="send-code" type="button" class="btn btn-info">发送动态密码</button>
                    </span>
                </div>
            </div>
        </div>
</div>
<div class="row top-buffer">
     <div class="form-group col-xs-offset-2 col-md-offset-4 col-xs-8 col-md-3">
         <button id="btn-login" name="login" type="submit" class="btn btn-primary btn-block">登录</button>
     </div>
</div>
</form>

{% endblock %}
