{% extends "layout.html" %}
{% block body %}
<form action="./" method="post">
    <div class="row top-buffer">
    <div class="form-group">
        <div class="col-xs-offset-2 col-md-offset-4 col-xs-8 col-md-3">
            <input id="phone" type="text" class="form-control " maxlength="11"  placeholder="请输入手机号码">
        </div>
    </div>
</div>
<div class="row top-buffer">
        <div class="form-group">
            <div class="col-xs-offset-2 col-md-offset-4 col-xs-8 col-md-3">
                <div class="input-group">
                    <input id="code" type="text" class="form-control"maxlength = "6"  placeholder="动态密码">
                    <span class="input-group-btn">
                        <button id="btn-send" type="button" class="btn btn-info" onClick="countdown()">发送动态密码</button>
                    </span>
                </div>
            </div>
        </div>
</div>
<div class="row top-buffer">
     <div class="form-group col-xs-offset-2 col-md-offset-4 col-xs-8 col-md-3">
         <button id="btn-login" type="button" class="btn btn-primary btn-block">登录</button>
     </div>
</div>
</form>

{% endblock %}
